name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
      - dev
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTDOCFLAGS: -D warnings
  RUSTFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10

defaults:
  run:
    shell: bash --noprofile --norc -CeEuxo pipefail {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  tidy:
    uses: taiki-e/github-actions/.github/workflows/tidy.yml@main
    permissions:
      contents: read
      pull-requests: write # for gh pr edit --add-assignee
      repository-projects: read # for gh pr edit --add-assignee
    secrets: inherit
    with:
      clippy-target: x86_64-unknown-linux-gnu,aarch64-unknown-linux-gnu,armv7-unknown-linux-gnueabihf,riscv64gc-unknown-linux-gnu,powerpc64le-unknown-linux-gnu
      codegen-automerge: true
      codegen-free-device-space: true

  msrv:
    env:
      # Exclude codegen feature because syn's MSRV.
      # NB: Sync with features table in Cargo.toml
      FEATURES: std,cli,critical-section-std,doc,git,sys
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: taiki-e/checkout-action@v1
      - uses: taiki-e/github-actions/free-device-space@main
      - uses: taiki-e/install-action@cargo-hack
      - run: cargo hack build -p test-helper --no-dev-deps --features "${FEATURES}" --version-range .. --version-step 2
        if: github.event_name == 'pull_request'
      - run: cargo hack build -p test-helper --no-dev-deps --features "${FEATURES}" --version-range ..
        if: github.event_name != 'pull_request'
